
.loader-container {
  position: absolute;
  inset: 0;
  background-color: #F4F2EE;
  z-index: 999999;

  .loader {
    position: relative;
    width: 120px;
    height: 14px;
    border-radius: 0 0 15px 15px;
    background-color: #3e494d;
    box-shadow: 0 -1px 4px #5d6063 inset;
    animation: panex 0.5s linear alternate infinite;
    transform-origin: 170px 0;
    z-index: 10;
    perspective: 300px;
    &::before {
      content: '';
      position: absolute;
      left: calc( 100% - 2px);
      top: 0;
      z-index: -2;
      height: 10px;
      width: 70px;
      border-radius: 0 4px 4px 0;
      background-repeat: no-repeat;
      background-image: linear-gradient(#6c4924, #4b2d21), linear-gradient(#4d5457 24px, transparent 0), linear-gradient(#9f9e9e 24px, transparent 0);
      background-size: 50px 10px , 4px 8px , 24px 4px;
      background-position: right center , 17px center , 0px center;
      }
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        z-index: -2;
        transform: translate(-50% , -20px) rotate3d(75, -2, 3, 78deg);
        width: 55px;
        height: 53px;
        background: #fff;
        background-image:
        radial-gradient(circle 3px , #fff6 90%, transparent 10%),
        radial-gradient(circle 12px , #ffc400 90%, transparent 10%),
        radial-gradient(circle 12px , #ffae00 100%, transparent 0);
        background-repeat: no-repeat;
        background-position: -4px -6px , -2px -2px , -1px -1px;
        box-shadow: -2px -3px #0002 inset, 0 0 4px #0003 inset;
        border-radius: 47% 36% 50% 50% / 49% 45% 42% 44%;
        animation: eggRst 1s ease-out infinite;
      }
  }

  @keyframes eggRst {
    0% ,  100%{  transform: translate(-50%, -20px) rotate3d(90, 0, 0, 90deg); opacity: 0; }
    10% , 90% {  transform: translate(-50%, -30px) rotate3d(90, 0, 0, 90deg); opacity: 1; }
    25%  {transform:  translate(-50% , -40px) rotate3d(85, 17, 2, 70deg) }
    75% {transform:  translate(-50% , -40px) rotate3d(75, -3, 2, 70deg) }
    50% {transform:  translate(-55% , -50px) rotate3d(75, -8, 3, 50deg) }
    }
    @keyframes panex {
    0%{  transform: rotate(-5deg)  }
    100%{  transform: rotate(10deg)  }
    }
}

.menu-button {
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: transparent;
  margin: 0.5rem 0 0 0.75rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: rgb(107, 114, 128);

  svg {
    width: 1.5rem;
  }
}

.container {
  @media screen and (min-width: 762px) {
    margin-left: 260px;
  }

  h1 {
    transform: scale();
    font-family: Pacifico, cursive;
    font-size: 2.25rem;
    line-height: 4rem;
    font-weight: 700;
    color: transparent;
    background-image: linear-gradient(to right, #F29724, #ca1023c4, #c90519);
    background-clip: text;
  }

  select {
    width: 100%;
    padding: 0.5rem;
    border-color: rgb(209, 213, 219);
    border-radius: 0.5rem;
    background-color: #fff;
    font-size: 0.875rem;
  }

  .category-buttons {
    button {
      padding: 10px 20px;
      margin: 5px;
      border: 1px solid rgba(75, 85, 99, 0.233);
      color: rgba(75, 85, 99, 0.669);
      background-color: transparent;
      border-radius: 50px;
      margin-right: 10px;
      transition: transform 0.3s cubic-bezier(.4,0,.2,1);


      &.active {
        background-color: #000 !important;
        color: #fff;
      }

      &:hover {
        background-color: #fff;
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
          0 8px 10px -6px rgb(0 0 0 / 0.1);
      }
    }
  }
  .card {
    border: none;
    border-radius: 35px;
    transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    button {
      background-color: rgb(14, 174, 123);
      color: #fff;
      margin-bottom: 10px;
      transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
      &:hover {
        background-color: &main-color;
        transform: scale(1.1);
      }
    }
  
    .img-container {
      width: 65%;
      position: relative;
      top: -10%;
      filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
        drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
      box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
      transition: transform 0.6s ease-in-out;
    }
  
    h3 {
      font-size: 1rem;
      line-height: 1.5rem;
      color: &main-color;
    }
  
    &:hover {
      box-shadow: 0 30px 60px -15px rgb(0 0 0 / 0.3);
      transform: scale(1.05);
      .img-container {
        transform: rotate(360deg);
      }
    }
  }
}




