
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$main-color: rgb(5, 150, 105);
$second-color: #F29724;
$bg-color: #F4F2EE;

body {
    background-color: $bg-color;
    color: $main-color;
    font-family: cursive;
}

button {
    font-size: .875rem;
    line-height: 1.25rem;
    background-color: transparent;
    margin: .5rem 0 0 .75rem;
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    color: rgb(107, 114, 128);
}

button svg {
    width: 1.5rem;
}


 


.container {
    h1 {
        font-family: Pacifico, cursive;
        font-size: 2.25rem;
        line-height: 4rem;
        font-weight: 700;
        color: transparent;
        background-image: linear-gradient(to right, #F29724, #ca1023c4, #c90519);
        background-clip: text;
    }

    select {
        width: 100%;
        padding: .5rem;
        border-color: rgb(209, 213, 219);
        border-radius:.5rem;
        background-color: #fff;
        font-size:.875rem;
        margin-bottom: 1rem;
    }
    
}

button.active {
    background-color: #007bff; 
    color: white;  
    border: 1px solid #007bff;
  }
  
  button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    background-color: #f1f1f1;
  }
  
  button:hover {
    background-color: #ddd;
  }
  
  .meal-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .meal-card {
    text-align: center;
  }
  
  .meal-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }




  nav {
    position: fixed;
    inset: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 999;

    .nav-box {
      background-color: $bg-color; 
      width: 300px !important;
  }
  }


  @media screen and (min-width: 762px) {
    .menu-button {
      display: none !important;
      
    }
    nav {
      position: static;
      display: inline-block !important;
      background-color: #F9FAFB; 
      .nav-box {
        width: 300px !important;
        background-color: transparent;
    }
    }
    
  }
  
  