/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");


$main-color: rgb(11, 131, 93);
$second-color: #F29724;
$bg-color: #F4F2EE;


body {
    background-color: $bg-color;
    font-family: cursive;
}
